<div class="banner banner-section" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.75) 25%, rgba(0,0,0,0.7) 100%), url('<%= image_url 'lists.jpg'%>')">
  <div class="banner-content">
    <div class="banner-container">
      <h1>Add movies to your list</h1>
    </div>
  </div>
</div>
<div class="container">
  <h2>Add movies to <%= @list.name %></h2>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, label: false, collection: Movie.all.order(:title) %>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>
</div>
